body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(74, 20, 140);
    padding: 3%;
}

main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    max-width: 1000px;
    width: 100%;
    align-self: center;
    border: 0.1px rgb(225, 190, 230) solid;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(101, 55, 157);
    box-shadow: 8px 8px 5px rgb(49, 13, 93);
    
}

.head-name{
    text-shadow: 3px 3px 6px rgb(33, 36, 39);

}

#Links{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header-items{
    color: rgb(187, 222, 251)
}

.header-anchor{
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    color: rgb(187, 222, 251);
}

.header-anchor:hover{
    font-weight: bold;
    /*font-size: 18px;*/
    color: rgb(214, 229, 241);
}

#about-me{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1000px;
    width: 100%;
    align-self: center;
    border: 0.1px rgb(225, 190, 230) solid;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(101, 55, 157);
    box-shadow: 8px 8px 5px rgb(49, 13, 93);
}

#skills{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1000px;
    width: 100%;
    align-self: center;
    border: 0.1px rgb(225, 190, 230) solid;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(101, 55, 157);
    box-shadow: 8px 8px 5px rgb(49, 13, 93);
}

#skill-elems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.skill-elem{
    background-color: whitesmoke;
    border: 2px solid rgb(101, 55, 157);;
    border-radius: 18.64px;
    box-shadow: 8px 8px 5px rgb(49, 13, 93);
    align-items: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 250px;
}

.skill-elem:hover{
    /*transform: translate3d(-3px, -3px, 2px);*/
    animation: jello 0.9s both;
    /*transition: transform 0.1s ease-in-out;*/
}

.skill-elem hr {
    color: indigo;
    border: 1px solid indigo; /* Change the color and thickness as needed */
    width: 100%; /* Make the hr span the full width of the container */
    margin: 20px 0; /* Add some margin for spacing */
}

#projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    width: 100%;
    align-self: center;
    border: 0.1px rgb(225, 190, 230) solid;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--);
    box-shadow: 8px 8px 5px rgb(49, 13, 93);
    max-width: 1000px;
}

.project-elems{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.project-elem{
    background-color: whitesmoke;
    border: 2px solid rgb(101, 55, 157);;
    border-radius: 18.64px;
    box-shadow: 8px 8px 5px rgb(49, 13, 93);
    align-items: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.project-elem:hover{
    /*transform: translate3d(-3px, -3px, 2px);*/
    transform: scale3d(102%, 102%, 102%);
    transition: transform 0.3s ease-in-out;
}

.project-elem hr {
    margin-top: 0;
    color: indigo;
    border: 1px solid indigo; /* Change the color and thickness as needed */
    width: 100%; /* Make the hr span the full width of the container */
    margin: 20px 0; /* Add some margin for spacing */
}

#contacts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    width: 100%;
    align-self: center;
    border: 0.1px rgb(225, 190, 230) solid;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(101, 55, 157);
    box-shadow: 8px 8px 5px rgb(49, 13, 93);
    max-width: 1000px;
}

@keyframes jello {
    0% {
        transform: none;
    }
    11.1% {
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }
    22.2% {
        transform: skewX(6.25deg) skewY(6.25deg);
    }
    33.3% {
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }
    44.4% {
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }
    55.5% {
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
    66.6% {
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }
    77.7% {
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
    88.8% {
        transform: skewX(0.09765625deg) skewY(0.09765625deg);
    }
    100% {
        transform: none;
    }
}

#contact-handles{
    display: flex;
    justify-content: space-around;
}

footer hr{
    border: 1px solid white;
            margin: 20px 0;
}

#contact-handles a{
    text-decoration: none;
}